#results
  %p
    %span.username
      = link_to "@#{ @username }", "http://twitter.com/#{@username}"
    uses
  .twefficiency
    = twefficiency(@twefficiency)
  %p
    of their avilable 
    = link_to("tweetspace", "/about") + "."
  
#searchagain 
  = haml :"_form", :layout => false
