#results
  .username
    = link_to "@#{ @username }", "http://twitter.com/#{@username}"
  .text
    has a twitter efficiency of
  .twefficiency
    = twefficiency(@twefficiency)
  
#searchagain 
  = haml :"_form", :layout => false
